#intel_style

freq_test
#pipewidth_test
#fetchwidth_test
#instlantency_test
#movelimination_test
#ptchase_test
#btbcapacity_test
#itlbcapacity_test
#cachelatency_test
#membandwidth_test
#ldstforward_test
#ldstorder_test
#bp_test
#ijp_test
#ijp_new_test
#ijptgt_test
#ijptgt_new_test
#ras_test
#ras_dist_test
#ifetch_test
#c2clatency_test
#mlp_test
#robcap_test
#xprfcap_test
#cprfcap_test
#fprfcap_test
#ldqcap_test
#stqcap_test
#xiscap_test
#xciscap_test
#fiscap_test
#ldiscap_test
